
# define yourself! this is the author:
nick: quite
twturl: https://lublin.se/twtxt.txt

# tweets appended here
twtfile: ~/public_html/twtxt.txt

# add User-Agent header with nick and program version when fetching feed (default true)
#discloseidentity: true

# include your own posts in the timeline
# includeyourself: false

# timeline command
#   full - display all tweets (default)
#   new  - only new tweets since last sync
#timeline: full

# execute some shell command before/after tweeting
#hooks:
#  pre: scp remote:twtxt.txt ~/twtxt.txt
#  post: scp ~/twtxt.txt remote:twtxt.txt

following:
  quite: https://lublin.se/twtxt.txt
  example: https://example.com/non-existant.txt
