
# define yourself! this is the author:
nick: quite
twturl: https://lublin.se/twtxt.txt

# tweets appended here
twtfile: ~/public_html/twtxt.txt
# include nick and program version in User-Agent when fetching feeds
discloseidentity: true

# timeline command
#   full - display all tweets (default)
#   new  - only new tweets since last sync
#timeline: full

# execute some shell command before/after tweeting
# hooks:
#   pre: scp remote:twtxt.txt ~/twtxt.txt
#   post: scp ~/twtxt.txt remote:twtxt.txt

following:
  quite: https://lublin.se/twtxt.txt
  example: https://example.com/non-existant.txt
